<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shopInfo">
	<insert id="setInsert" parameterType="map.model.dto.ShopInfoDTO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT seq_shopInfo.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO ${SHOP_INFO} (
			no, id, latitude, longitude, shopName, instagram, address, shopUrl, regiDate
		) 
		VALUES (
			#{no}, 
			#{dto.id}, 
			#{dto.latitude}, 
			#{dto.longitude}, 
			#{dto.shopName}, 
			#{dto.instagram}, 
			#{dto.address}, 
			#{dto.shopUrl}, 
			SYSDATE
		)
	</insert>
	
	<sql id="search">
		<choose>
			<when test="search_option == 'name_instagram_shopUrl' ">
				AND (name LIKE '%' || #{search_data} || '%' OR instagram LIKE '%' || #{search_data} || '%' OR shopUrl LIKE '%' || #{search_data} || '%')
			</when>
			<when test="search_option != null and search_option != '' and search_data != null and search_data != '' ">
				AND (${search_option} LIKE '%' || #{search_data} || '%')
			</when>
			<otherwise>
				AND no > '0'
			</otherwise>
		</choose>
	</sql>
	
	<select id="getAllRowsCount" resultType="int">
		SELECT COUNT(*) FROM ${SHOP_INFO} WHERE 1=1
		<include refid="search"></include>
	</select>
	
	<select id="getPagingList" resultType="map.model.dto.ShopInfoDTO">
		SELECT * FROM (SELECT A.*, Rownum Rnum from (
		SELECT * FROM ${SHOP_INFO} WHERE 1=1
		<include refid="search"></include>
		ORDER BY no DESC
		<![CDATA[
		) A) WHERE Rnum >= #{startNum} AND Rnum <= #{endNum}
		]]>
	</select>
	
	<select id="getShopInfos" resultType="map.model.dto.ShopInfoDTO">
		<choose>
			<when test="distance == 0.0 ">
				SELECT * FROM ${SHOP_INFO} WHERE 1=1
				ORDER BY no DESC
			</when>
			<otherwise>
				SELECT * FROM (
				SELECT shopInfo.*, DISTANCE_WGS84(#{currentLat}, #{currentLng}, latitude, longitude) AS DISTANCE
				<![CDATA[
				FROM shopInfo) WHERE DISTANCE <= #{distance} ORDER BY no DESC
				]]>
			</otherwise>
		</choose>
		
	</select>
</mapper>